.exercise-0
{
    background-image: url("https://i.ibb.co/FBT6f2B/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.ex0-text
{
    background-color: white;
    height: 300px;
   margin-left: 170px;
   margin-right: 10px;
   border-radius: 20px;
}