@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Montserrat:wght@500&family=Raleway&display=swap');
.exercise-3
{
    background-image: url("https://i.ibb.co/FBT6f2B/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.table-section
{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
}
.thead
{
    font-size: 20px;
}
.table
{
    font-weight: 500;
}
.continue-section
{
    height: 60px;
    background-color: white;
}
.list
{
    list-style: none;
    justify-content: flex-start;
    align-items:space-between;
 
    display: flex;
    margin-left: 30px;
   
}
.background
{
    background-color:#fbc556;
    width: 650px;
    border-radius: 5px;
    height: 75px;
}
.my-3
{
    font-family: 'Raleway', sans-serif;
}
h4
{
    font-family: 'Raleway', sans-serif;
}
h2
{
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #24344F;
}
.list-container
{
    width: 90%;
    height: 420px;
    background-color: white;
    margin: auto;
}

    .ex-3{
        margin-left: 210px;
    }
