@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Raleway&display=swap');
.home-container
{
    background-image: url("https://i.ibb.co/FBT6f2B/background.jpg");
    background-size: contain;
    background-repeat:var(--home-container);
    height: 1200px;
}
.memoji
{
    height: 200px;
    left: 0;
    object-fit:contain;
  
}
.course-complete
{
    display: flex;
    
}
.memoji-section
{
    flex: 1;
}
.text-start
{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #24344F;
}
.d-flex
{
    font-family: 'Raleway', sans-serif;
}
.ellipse
{
    background-color: #E69C05;
    border-radius: 24px;
    height: 48px;
    width: 48px;
    margin-left: 140px;
    margin-top: 40px;
}
.ellipse-1
{
    height: 32px;
    width: 31px;
    background-color: #FCD688;
    border-radius: 50%;
    margin-left: 148px;
    margin-top: -40px;
   
}
.ellipse-bg
{
    background-color: green;
    border-radius: 24px;
    height: 48px;
    width: 48px;
    margin-left: 140px;
    margin-top: 40px;
}
.line-1
{
    height: 150px;
    width: 4px;
    background-color: #24344F;
    margin-left: 160px;
    margin-top: 40px;
}
.button
{
    padding: 20px;
    background-color: white;
    width: 650px;
    border-radius: 5px;
    text-align: start;
    height: 160px ;
}
.button-details
{
  text-decoration: none;
  color: black;
}
.button-2
{
    padding: 20px;
    background-color: white;
    width: 650px;
    border-radius: 5px;
    margin-top: 20px;
    height: 160px;
    text-align: start;
}
.lessons-input
{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.lessons-input :hover
{
  background-color: #FBC556;
}
ul
{
    text-align: start;
}
h4
{
    font-family: 'Be Vietnam Pro', sans-serif;
}