.home-contain
{
    display: flex;
   height: 59px;
}

.logo
{
    height: 70px;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 302px;
    margin-left: 4px;

}
.home-nav
{
    margin-left: 120px;
}

.header
{
    position: absolute;
    width: 840px;
    height: 50px;
    left: 400px;
    top: 0px;
  
    background: #FFFFFF;
}
.home
{
    text-decoration: none;
    margin-left: 50px;
}

.home-bg
{
  width: 140px;
    background-color: #FAB424;
}
.home-img
{
    height: 25px;
    width: 40px;
}