.exercise-5
{
    background-image: url("https://i.ibb.co/FBT6f2B/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 88vh;
}

.myra-video
{
    background-color: blanchedalmond;
    width: 500px;
    height: 100px;
    margin-left: 350px;
}
.hej
{
    width: 50px;
   
}

.text-area
{
margin-top: 30px;
padding-bottom: 20px;

}

.blank-area
{
flex: 1;
    justify-content: center;
    align-items: center;
}
.horizontal-divider
{
    width: 5px;
    height: 150px;
    background-color:darkgray;
    
}
.english-area
{
    justify-content: center;
    align-items: center;
  flex: 1;


}
input{
    border:none;
    outline: 0;
    background: transparent;
    width: 60px;
    height: 10px;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
input :focus
{
    transform: translateY(-20px);
}

.hint-area
{
 height: 70px;
    background-color: white;
    margin-top: 40px;
}

.solution
{
    flex: 2;
}


.continue
{
    flex: 1;
  
}