.god-k
{
    margin-left: -20px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    margin-bottom: 5px;
}
.good-e
{
    margin-left: -25px;
}